*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgba(10, 10,20, 0.865);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 280px;
    color: rgb(52, 197, 233);
    font-size: 35px;
    border: 3px solid rgba(17, 171, 174, 0.81);
    border-radius: 50%;
    box-shadow:0 0 60px rgb(67, 129, 156);
    transition: all .4s ease-out;
    margin-bottom: 50px;
    
}
.time:hover{
    box-sizing: border-box;
    box-shadow: 0 0 100px rgb(176, 122, 227);
    color: rgb(201, 78, 178);
    border: 3px solid rgba(213, 141, 224, 0.81);
}

.butten{
    background-color: rgba(10, 10,20, 0.915);
    color: snow;
    padding: 20px;
    font-size: 28px;
    margin: 0 7px;
    border-radius: 35%;
}
.butten:hover{
    background-color: rgb(193, 184, 193);
    color: brown;
    padding: 30px;
    border: 3px solid rgb(52, 52, 53);
}

.number{
    margin-top: 32px;
    border-radius: 10%;
    color: white;

    
}